{% extends 'base.html' %}

{% block about %}

<div class="container-fluid d-flex justify-content-center my-4">
    <div>
    <b style="font-size: 30px;">Oggy</b>(DIAZ CARTEL PRIVATE LIMITED) Founded in 2021, is an online platform that<br>
    aims to let its users discover the <b>best deals</b> on any given restaurant in their respective<br>
    locations. This platform helps local restaurants to serve new customers from different<br> 
    Food delivery or dine in partners such as <b>Zomato, Swiggy, Dineout, Magicpin, Eazydiner</b><br>
    and many more.
    <br>
    <br>
    We provide you a platform where you can easily search from different restaurants,<br>
    select one and then compare the deals from different Food delivery or Dine-in<br>
    providers. So that you can select the best deal to order food or book a dine-in option<br>
    from any Food App/Website.
    <br>
    <br>
    <ul>
        <li>
            <h5>●Currently, we have a presence in <b>12 major cities</b> and we will<br>
            keep expanding our reach across India. Included Cities are:</h5>
                ○	Ahmedabad<br>
                ○	Bangalore<br>
                ○	Chandigarh<br>
                ○	Chennai<br>
                ○	Delhi<br>
                ○	Hyderabad<br>
                ○	Indore<br>
                ○	Jaipur<br>
                ○	Kolkata<br>
                ○	Lucknow<br>
                ○	Mumbai<br>
                ○	Pune<br>
        </li>
        <br>
        <li>
            <h5>●In these 12 cities, we offer you the best deals from 50000+<br>
                restaurants.</h5><br>
        </li>
    </ul>
    So what are you waiting for? Let’s order something lets Oggy it and find the best deal.<br><br>
    For any further assistance, you can <b>contact us</b> on our email and we would love to help<br>
    you in your journey to finding the best food deal for you :)
    </div>
</div>

{% endblock about %}