{% extends 'base.html' %}

{% block faq %}

<div class="container-fluid d-flex justify-content-center my-4">
    <div>
    <h3>
        What is Oggy?
    </h3>
    <p>
        Oggy is an all-in-one search engine for the comparison of food offers on your favorite restaurants. It accumulates data for the comparison of best offers from the Food Giants like Zomato, Swiggy, Eazydiner, Dineout, and Magicpin. The users of oggy can compare the various offers at a restaurant provided by these Food delivery apps or Aggregators. Users will be able to compare the prices & offers at over 4000+ restaurants in Jaipur and can pick the best deals for them. Oggy already serves in 11+ cities as of now and spreading steadily.
    </p>
    <br>
    <h3>
        How will you use Oggy?
    </h3>
    <p>
        All you need is to enter your location and we will show you the best deals on your favorite restaurants around you, you can also search by the restaurant name or a cuisine name ( eg. “North Indian”). Once you choose your restaurant you will see similar dish offerings from other restaurants along with the offers of different ordering apps/websites. You just need to pick the best deal for you and then you will be redirected to that service provider’s order page and then you can place the order easily
    </p>
    <br>
    <h3>
        Why Oggy?
    </h3>
    <p>
        Well, there are few reasons for that:
· The largest list of restaurants in Jaipur to choose from
· Offers/Discounts and Cashback comparisons so that you can choose from the best deals
· If the above two reasons are not enough then this offer will make you go WOW, You can save some extra money without compromising on your favorite food when you order your food with Oggy.
    </p>
    <br>
    <h3>
        How do I Order through Oggy?
    </h3>
    <p>
        It’s simple, just need to select the restaurant or cuisine and then you will see a comparison list of different offers from the foodservice providers, then you just need to select the best price deal and click on the deal and we will redirect you to the service website or to the app where you can place the order.
    </p>
    <br>
    <h3>
        Do I need to pay any extra money for using Oggy?
    </h3>
    <p>
        No, you don’t have to pay any extra money, it’s completely free. We are just here to provide you the best deals with the best offers so that you can save your money without compromising.
    </p>
    <br>
    <h3>
        Is Oggy is safe to use?
    </h3>
    <p>
        Yes, it is a safe site, we ensure safety and follow all the quality standards. Only necessary details which are required to get you to the best deals are shared and nothing without your permission. We do not ask for any kind of sensitive information. 
The information you provide is safe with us and the contact information is an optional service with all your data is saved with encryption
    </p>
    <br>
    <h3>
        Do I need to sign up?
    </h3>
    <p>
        No, not necessarily. You just need to sign up if you want to receive the best offer and deals around you and the latest offers.
    </p>
    <br>
    <h3>
        There’s still something we haven’t answered?
    </h3>
    <p>
        Don’t worry we are here, just drop your query at and we will reach out to you and resolve your queries.
    </p>
    </div>
</div>

{% endblock faq %}